.btn {
    width: 100px;
    height: 30px;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
    margin: 0 0 10px 0;
    cursor: pointer;
    border-color: #222;
}

.btn-yes {
    background-color: lime;
    color: #222; 
}

.btn-yes:hover {
    background-color: limegreen;
}

.btn-no {
    background-color: #ff4040;
    color: #ddd;
}

.btn-no:hover {
    background-color: red;
}

.inputs {
    border-bottom: 1px solid lime;
}

.alert-success p,
.alert-info p,
.alert-warning p,
.alert-danger p{
    color: #222;
}

.alert-danger p{
    background-color: #ff4040;
}

.alert-warning p{
    background-color: yellow;
}

.alert-info p{
    background-color: lightblue;
}

.alert-success p{
    background-color: lime;
}

